$rem-baseline: 16px;

$color-black: rgba(0, 0, 0, 1);
$color-cerise-red: rgba(228, 64, 95, 1);
$color-chambray: rgba(59, 89, 153, 1);
$color-deep-cerulean: rgba(0, 119, 181, 1);
$color-picton-blue: rgba(85, 172, 238, 1);
